<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beer_club.name} #{@beer_club.city}"%>
</h2>

<p>
  Founded in <%= @beer_club.founded %>
</p>

<h2>Members</h2>
<ul>
  <% @beer_club.memberships.each do |membership| %>
    <% user = @users.find_by id: membership.user_id %>
    <% if @beer_club.isMemberAndConfirmed(user) %>
      <li>
        <%= link_to user.username, user_path(user) %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @beer_club.isMemberAndConfirmed(current_user) %>
<h2>Outstanding Applications</h2>
<table class="table table-hover">
  <thead>
  <tbody>
  <% @beer_club.memberships.each do |membership|  %>
      <% user = @users.find_by id: membership.user_id %>
      <%if !@beer_club.isMemberAndConfirmed(user) %>
      <tr>
        <td><%=user.username%></td>
        <td><%= link_to 'Confirm membership' , toggle_confirmed_beer_club_path(:user_id => membership.user_id,:beer_club_id => membership.beer_club_id), method: :post, class:'btn btn-primary' %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<% end %>



<% if current_user %>
  <% if @beer_club.members.include?(current_user) %>
    <%= form_for(@membership, method: "delete") do |f| %>
       <%= f.hidden_field :beer_club_id %>
       <%= f.submit value: "end the membership" %>
    <% end %>
  <% else %>
    <%= form_for(@membership) do |f| %>
       <%= f.hidden_field :beer_club_id %>
       <%= f.submit value: "join the club", class:'btn btn-primary'%>
    <% end %>
  <% end %>

  <br>
<% end %>