<p id="notice"><%= notice %></p>

<h2> <%= @beer_club.name %>,<%= @beer_club.city %> </h2>
<p>
  <strong>Founded: <%= @beer_club.founded %> </strong>
</p>


<strong>Members</strong>
<% if @beer_club.users.empty? %>
	has no members
<% else %>
	<ul>
		<% @beer_club.users.each do |user| %>
			<li><%= link_to user.username, user_path(user) %></li>
		<% end %>
	</ul>
<% end %>

<% if current_user %>
<p>
<%if not current_user.memberships.map(&:beer_club_id).include? @memberships.beer_club_id %>
	<%= form_for(@membership) do |f| %>
	    <%= f.hidden_field :beer_club_id %>
	    <%= f.submit value:"join the club" %>
	 <% end %>
	<%else%>
	   <%= form_for(@membership, method: "delete") do |f| %>
	      <%= f.hidden_field :beer_club_id %>
	      <%= f.submit value: "end the membership" %>
	   <% end %>
<%end%>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
</p>
<%end%>