<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th> rated beers </th>
      <th> total ratings </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.size %></td>
        <td><%= user.ratings.size %></td>
        <% if current_user  and current_user.admin and user.status %>
          <td><span class="label label-info">account frozen</span></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if not current_user.nil? %>
  <%= link_to 'New User', new_user_path, class:'btn btn-default' %>
<% end %>
