<p id="notice"><%= notice %></p>

<h2><%= @user.username %>
<% if @user.status %> <span class="label label-danger">account frozen</span> <% end%>
</h2>


<!-- List membership -->
<p>
	<% if @user.memberships.empty? %>
		has no memberships
	
	<% else %>
	<%= "member of" %>
			<% @user.beer_clubs.each do |beer_club| %>
			<%= link_to beer_club.to_s, beer_club_path(beer_club) %> 
			<% end %>
		
	</ul>
	<% end %>
</p>

<!-- List Ratings-->	
<p>
	<% if @user.ratings.empty? %>
		has made no ratings
	<% else %>
	<%= "has made #{pluralize(@user.ratings.count,'ratings')}, average #{@user.average_rating}" %>
	<h2>Ratings </h2>
	<ul>
		<% @user.ratings.each do |rating| %>
			<li> <%= rating.to_s %>
				<% if @user == current_user %>
	 				<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
	 			<% end %>
			</li>
		<% end %>
	</ul>
	<% end %>
</p>	

<p>
	<strong>Favorite style: </strong>
	<%= @user.favorite_style %>
</p>
<% if false %>
<p>
	<strong>Favorite brewery: </strong>

	<%= link_to "#{@user.favorite_brewery.name }", @user.favorite_brewery %>
</p>
<% end %>

<% if @user == current_user %>
	<td><%= link_to 'Edit', edit_user_path(@user) ,class:'btn btn-primary' %></td>
	<td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger' %></td>
<% end %>


<% if current_user and current_user.admin %>
<%= link_to "Freeze account", freeze_account_user_path(@user.id), method: :post, class: "btn btn-info" %>
<%end%>
</p>