<h2>List of ratings</h2>

<p>Number of ratings: <%#= @ratings.count %></p>

<div class="row">
  <%= render 'top', what:'Beers', items:@top_beers %>
  <%= render 'top', what:'Breweries', items:@top_breweries %>
  <%= render 'top', what:'Styles', items:@top_styles %>
</div>

<h3>Most active users</h3>
<table class="table table-hover ">
  <thead>
    <tr>
      <td></td>
      <td>favorite beer</td>
      <td>preferred style</td>
      <td>favorite brewery</td>
      <td>ratings</td>
    </tr>
  </thead>
  <% User.top(3).each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= link_to user.favorite_beer.name, user.favorite_beer if not user.favorite_beer.nil? %></td>
      <td><%= link_to user.favorite_style.name, user.favorite_style if not user.favorite_style.nil? %></td>
      <td><%= link_to user.favorite_brewery.name, user.favorite_brewery if not user.favorite_brewery.nil? %></td>
      <td><%= user.ratings.count %></td>
    </tr>
  <% end %>
  <tbody>
  </tbody>
</table>

<h3>Recent ratings</h3>
<ul>
  <% Rating.recent.each do |rating| %>
    <li>
      <%= link_to rating.beer.name, rating.beer %>
      <%= rating.score %>
      <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>

<%#= link_to 'New Rating', new_rating_path %>
